# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
venv
env
ENV
.venv

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore

# Документация
README.md
*.md

# Временные файлы
*.log
*.tmp
.DS_Store
Thumbs.db

# Frontend (не нужен в образе бэкенда)
../node_modules
../dist
../src
../index.html
../vite.config.js
../package.json

