@use "sass:map";

// Брейкпоинты для адаптивного дизайна
$breakpoints: (
  mobile: 400px,
  tablet: 768px,
  desktop: 1280px,
  large-desktop: 1920px
) !default;

// Миксин для мобильных устройств (до 400px)
@mixin mobile {
  @media (max-width: map.get($breakpoints, mobile)) {
    @content;
  }
}

// Миксин для мобильных устройств (от 350px до 400px)
@mixin mobile-range {
  @media (min-width: 350px) and (max-width: map.get($breakpoints, mobile)) {
    @content;
  }
}

// Миксин для планшетов (от 401px до 1279px)
@mixin tablet {
  @media (min-width: map.get($breakpoints, mobile) + 1px) and (max-width: map.get($breakpoints, desktop) - 1px) {
    @content;
  }
}

// Миксин для планшетов и меньше (до 1279px)
@mixin tablet-down {
  @media (max-width: map.get($breakpoints, desktop) - 1px) {
    @content;
  }
}

// Миксин для десктопов (от 1280px)
@mixin desktop {
  @media (min-width: map.get($breakpoints, desktop)) {
    @content;
  }
}

// Миксин для больших десктопов (от 1920px)
@mixin large-desktop {
  @media (min-width: map.get($breakpoints, large-desktop)) {
    @content;
  }
}

// Миксин для кастомного брейкпоинта
@mixin breakpoint($point) {
  @if map.has-key($breakpoints, $point) {
    @media (min-width: map.get($breakpoints, $point)) {
      @content;
    }
  }
}

// Миксин для кастомного брейкпоинта (max-width)
@mixin breakpoint-down($point) {
  @if map.has-key($breakpoints, $point) {
    @media (max-width: map.get($breakpoints, $point) - 1px) {
      @content;
    }
  }
}

